#header{
    height: 40px;    
    width: 300px;
    border: 5px dashed #0000AA; 
}

#editor{
   float: left;
    height: 400px;
    width: 600px;
    border: 5px dashed #0000AA; 
}

#console{
    float: right;
    height: 400px;
    width: 600px;
    border: 5px dashed #0000AA; 
}
