#header{
    height: 40px;    
    width: 300px;
    border: 2px solid #000000; 
}

#editor{
    height: 400px;
    width: 600px;
    border: 2px solid #000000; 
}

#consoleApplet{
    float: right;
    border: 2px solid #000000; 
}
